/* 전역에서 자주 사용할 css를 변수에 담기 */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 150ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Navbar */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-black);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
}

.navbar__menu {
  display: flex;
}

#navbar.navbar--dark {
  background-color: var(--color-light-white);
  padding: 8px;
  z-index: 1;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin-top: 12px;
  margin-left: 10px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: 1px solid transparent;
  /* 배경과 같은색 테두리를 줘서 일그러짐 방지 */
  transition: all var(--animation-duration) ease-out;
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 4px;
}

.navbar__toggle-btn {
  position: absolute;
  top: 22px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url('image/many.jpg') center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 200px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__description {
  font-size: var(--font-regular);
}
.home__title {
  padding: 20px;
  text-shadow: #424241 1px 1px, #777777 0px 0px, #7294c1 -1px 1px, #535353 2px 2px, #5289c1 3px 3px, #7996f0 4px 4px, #353535 5px 5px;
  animation-name: titleAni;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes titleAni {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
  }
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: 4px;
  color: var(--color-white);
}

.home__contact:hover {
  background-color: var(--color-orange);
}

/* Section common */
.section {
  padding: 50px;
  padding-top: 70px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
#about h1 {
  color: var(--color-light-grey);
}
#about p {
  margin-top: 40px;
}
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon i {
  transition: all var(--animation-duration) linear;
}

.major__icon i:hover {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}
.job {
  display: flex;
  align-items: center;
  justify-content: center;
}
.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__logo {
  width: 400px;
  border-radius: 50%;
}
.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job_name {
  font-size: var(--font-small);
}

/* Skill */
#skills {
  background-color: var(--color-dark-white);
  background: url('image/many2.jpg') no-repeat center/cover;
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}
.skillset__title {
  color: var(--color-white);
}
.skillset__left {
  flex-basis: 100%;
  padding: 20px 40px;
  background-color: var(--color-dark-grey);
}

.skill {
  margin-bottom: 28px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}
.skill__value {
  width: 70%;
  height: 3px;
  background-color: var(--color-orange);
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
}

/* Work */
#work {
  text-align: center;
}
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  /* span은 inline 이라 모양이 이상하게 감싸짐 */
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  /* item 이 꽉차면 자동으로 줄바꿈 */
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  /* 가장 가까운 부모가 relative면 거기에 맞춰서 위치정함 */
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}
.project:hover .project__description {
  opacity: 0.7;
  transform: translateY(0px);
}
.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testimonial */
#testimonials {
  background-color: var(--color-light-white);
  text-align: center;
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  /* 홀수 */
  margin-right: 40px;
}
.testimonial__avatar:nth-child(even) {
  /* 짝수 */
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-pink);
}

/* Contact */
#contact {
  background-color: var(--color-pink);
  text-align: center;
  padding: 16px;
}
.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin-bottom: 32px;
  margin-top: -16px;
}

.contact__rights {
  margin-bottom: -4px;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  font-size: 45px;
  line-height: 40px;
  background-color: var(--color-pink);
  color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
    top: 18px;
    right: 16px;
    font-size: var(--font-medium);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 45px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 30px;
  }
  .skillset {
    flex-direction: column;
  }

  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }
  .testimonial__avatar {
    width: 180px;
    height: 250px;
  }

  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }

  .testimonial__speech-bubble {
    order: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 35px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
